@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

header {
    border-bottom: 1px solid black;
    background-color: #ff5a34;
    padding-top: 1px;
}

body {
    margin: 0px;
}

main, nav {
    margin: 8px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #b4cf66;
    margin: 5px 0;
    padding: 20px 30px;
}

tr:nth-child(2n + 3) {
    background-color: #e5e5e5;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    width: fit-content;
}

.box {
    margin: 10px 30px;

    justify-self: center;
}

.dark-green {
    color: #146152;
}

.light-green {
    color: #5f935b;
}

.white {
    color: white;
}

a {
    text-decoration: none;
}

a:hover {
    color: green;
}
